.blur-load { background-size: cover; background-position: center; background-repeat: no-repeat; }

.blur-load.loaded img { opacity: 1; filter: blur(0px); }
.blur-load img { opacity: 0; transition: opacity 200ms ease-in-out; filter: blur(100px); }
