.motion-text {
    @apply w-full md:w-4/6 md:m-auto
}

.motion-text-separators {
    @apply w-0 md:w-1/6
}

.motion-text p {
    @apply block font-bold text-center text-black
        text-xl md:text-4xl
}

.motion-text a {
    @apply font-normal
}

.motion-image {
    @apply flex left-0 right-0 mx-auto justify-center w-full
    md:w-[70%] mt-[1rem] px-5
}

.second-container {
    @apply mt-[10rem] space-y-8
}

.card-text {
    @apply text-black font-bold
    text-3xl md:text-4xl xl:text-5xl
}

.card-text a {
    @apply font-normal
}

.container-cards {
    @apply relative block space-y-3 md:space-y-0 md:flex md:space-x-3
}

.card {
    @apply relative flex w-full md:w-1/4 rounded-md lg:rounded-xl overflow-hidden h-[9rem] sm:h-[12rem]
    md:h-[25rem] lg:h-[30rem] xl:h-[35rem]
}

.letter-card {
    @apply absolute top-[-1rem] left-0 right-0 mx-auto ml-0 w-6/12 md:ml-auto md:w-auto
}

.person-card {
    @apply top-0 bottom-0 left-0 right-0 ml-3 lg:ml-auto m-auto
}

.text-card-inner {
    @apply text-[15px] flex w-6/12 right-1  absolute top-0 bottom-0 m-auto text-center px-4
                          sm:text-[20px] sm:right-10
                          md:top-auto md:bottom-10 md:mx-auto md:text-[11px] md:right-0 md:left-0 md:w-auto
                          lg:text-[16px] lg:h-[20%]
}

.text-card-inner p {
    @apply top-0 bottom-0 right-0 left-0 m-auto
}

.l { @apply md:w-[65%] }

.k { @apply md:w-[88%] }

.h { @apply md:w-[88%] }


.pw { @apply w-[30%] md:w-[80%] md:mt-[6rem] }

.pl { @apply w-[30%] md:w-[80%] mt-1 md:mt-[3rem] }

.pk { @apply w-[30%] md:w-[60%] mt-1 md:mt-[3rem] }

.ph { @apply w-[30%] md:w-[80%] }
